<section class="about-us">
    <div class="container">
        <div class="about-us-main">
            <h3 class="title-medium title-about-us">О нас</h3>
            <div
                class="about-us-content d-flex justify-content-start justify-content-sm-between flex-column-reverse flex-sm-row ">
                <img class="about-peoples h-100 col-12 col-sm-6" src="img/4-about-us/about-peoples.png" alt="">
                <p class="about-us-information col-12 col-sm-6 pt-0 pt-lg-4 mb-4 mb-sm-0">Наша компания уже более 2-х
                    лет работает
                    в
                    сфере
                    банкротства
                    по
                    всем
                    регионам России.
                    Мы сотрудничаем с уже более 50-ти компаниями-партнерами. Генерация лидов по банкротству дает
                    возможность нашей компании выделяться среди конкурентов, ведь мы окупаем вложения в рекламу и
                    повышаем лидогенерацию на качество. Специалисты нашей компании помогают генерировать качественные
                    лиды и приводить именно тех потенциальных клиентов, которые готовы законно списывать долги.</p>
            </div>
        </div>
    </div>
</section>