<section class="advantages">
    <div class="container">
        <div class="advantages-main">
            <h2 class="title-medium title-advantages">Преимущества</h2>
            <div class="advantages-content">
                <div class="advantages-content__line d-flex">
                    <div
                        class="advantages-content__line--element position-relative d-flex flex-column justify-content-end mb-4 mb-md-5">
                        <div class="advantages__line--element--top d-flex align-items-center">
                            <img src="img/3-advantages/ad-1.svg" alt="">
                            <p class="advantages__line--top--text">Формируем до 2000 <br> лидов в день</p>
                        </div>
                        <p class="advantages__line--bottom--text">Проводим работу с городами РФ
                            и приводим от 10 до 100 заявок
                            в зависимости о региона</p>
                        <span class="abs-element-under position-absolute">01</span>
                    </div>
                    <div
                        class="advantages-content__line--element position-relative d-flex flex-column justify-content-end mb-4 mb-md-5">
                        <div class="advantages__line--element--top d-flex align-items-center">
                            <img src="img/3-advantages/ad-2.svg" alt="">
                            <p class="advantages__line--top--text">Работаем с CRM <br> системой</p>
                        </div>
                        <p class="advantages__line--bottom--text">Клиентов мы подключаем
                            к собственной CRM системе.
                            Прием лидов в реальном времени </p>
                        <span class="abs-element-under position-absolute">02</span>
                    </div>
                    <div
                        class="advantages-content__line--element position-relative d-flex flex-column justify-content-end mb-4 mb-md-5">
                        <div class="advantages__line--element--top d-flex align-items-center">
                            <img src="img/3-advantages/ad-3.svg" alt="">
                            <p class="advantages__line--top--text">Мы работаем со <br> своими сайтами</p>
                        </div>
                        <p class="advantages__line--bottom--text">Мы располагаем готовыми ресурсами, от вас потребуется
                            только номер телефона и почта для связи</p>
                        <span class="abs-element-under position-absolute">03</span>
                    </div>
                </div>
                <div class="advantages-content__line d-flex">
                    <div
                        class="advantages-content__line--element position-relative d-flex flex-column justify-content-end mb-4 mb-md-5">
                        <div class="advantages__line--element--top d-flex align-items-center">
                            <img src="img/3-advantages/ad-4.svg" alt="">
                            <p class="advantages__line--top--text">Заявки для крупных <br> регионов - от 300 руб.</p>
                        </div>
                        <p class="advantages__line--bottom--text">Наши лиды приносят заказчикам
                            до 30% встреч и переговоров от общего количества лидов</p>
                        <span class="abs-element-under position-absolute">04</span>
                    </div>
                    <div
                        class="advantages-content__line--element position-relative d-flex flex-column justify-content-end mb-4 mb-md-5">
                        <div class="advantages__line--element--top d-flex align-items-center">
                            <img src="img/3-advantages/ad-5.svg" alt="">
                            <p class="advantages__line--top--text">Генерируем лиды по <br> всем регионам РФ</p>
                        </div>
                        <p class="advantages__line--bottom--text">Мы задействуем все регионы России для <br> генерации
                            лидов
                        </p>
                        <span class="abs-element-under position-absolute">05</span>
                    </div>
                    <div
                        class="advantages-content__line--element position-relative d-flex justify-content-center align-items-center">
                        <button class="btn-general btn-advantages" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">Лиды на тест</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>