<section class="cases">
    <div class="container">
        <div class="cases-main">
            <h4 class="title-medium title-desctop-cases">Наши кейсы</h4>

            <!-- Slider main container -->
            <div class="swiper swiper-cases">
                <h4 class="title-medium title-cases text-center">Наши кейсы</h4>
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->

                    <div class="swiper-slide slide-cases">
                        <div class="slide-cases-block d-flex">
                            <div
                                class="slide-cases-block__blue d-flex flex-column justify-content-center align-items-center me-2 me-lg-3">
                                <img class="mb-3" src="img/5-cases/case-1.png" alt="">
                                <p class="slide-blue-text">Ростов-на-Дону</p>
                            </div>
                            <div class="slide-cases__description my-auto">
                                <h5 class="title-slide mb-3">г. Ростов-на-Дону</h5>
                                <div class="slides-cases__number d-flex align-items-center mb-3">
                                    <h5 class="title-slide__description me-2">411</h5>
                                    <p class="slide__description--text">заявок в<br> месяц</p>
                                </div>
                                <div class="slides-cases__number d-flex align-items-center">
                                    <h5 class="title-slide__description me-2">42</h5>
                                    <p class="slide__description--text">договора на <br> банкротство <br>
                                        по 150 000 руб</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide slide-cases">
                        <div class="slide-cases-block d-flex">
                            <div
                                class="slide-cases-block__blue d-flex flex-column justify-content-center align-items-center me-2 me-lg-3">
                                <img class="mb-3" src="img/5-cases/case-2.png" alt="">
                                <p class="slide-blue-text">Москва</p>
                            </div>
                            <div class="slide-cases__description my-auto">
                                <h5 class="title-slide mb-3">г. Москва</h5>
                                <div class="slides-cases__number d-flex align-items-center mb-3">
                                    <h5 class="title-slide__description me-2">823</h5>
                                    <p class="slide__description--text">заявок в<br> месяц</p>
                                </div>
                                <div class="slides-cases__number d-flex align-items-center">
                                    <h5 class="title-slide__description me-2">79</h5>
                                    <p class="slide__description--text">договора на <br> банкротство <br>
                                        по 150 000 руб</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide slide-cases">
                        <div class="slide-cases-block d-flex">
                            <div
                                class="slide-cases-block__blue d-flex flex-column justify-content-center align-items-center me-2 me-lg-3">
                                <img class="mb-3" src="img/5-cases/case-2.png" alt="">
                                <p class="slide-blue-text">Санкт-Петербург</p>
                            </div>
                            <div class="slide-cases__description my-auto">
                                <h5 class="title-slide mb-3">г. Санкт-Петербург</h5>
                                <div class="slides-cases__number d-flex align-items-center mb-3">
                                    <h5 class="title-slide__description me-2">602</h5>
                                    <p class="slide__description--text">заявок в<br> месяц</p>
                                </div>
                                <div class="slides-cases__number d-flex align-items-center">
                                    <h5 class="title-slide__description me-2">54</h5>
                                    <p class="slide__description--text">договора на <br> банкротство <br>
                                        по 150 000 руб</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="prev-slide">
                    <img src="img/5-cases/prev-ar.png" alt="">
                </div>
                <div class="next-slide">
                    <img src="img/5-cases/next-ar.png" alt="">
                </div>
            </div>

            <div class="cases-mobile">
                <div class="cases-mobile-block mb-4">
                    <h5 class="title-slide mb-3">г. Ростов-на-Дону</h5>

                    <div class="slides-cases__number  mb-3">
                        <h5 class="title-slide__description mb-1">411</h5>
                        <p class="slide__description--text">заявок в месяц</p>
                    </div>
                    <div class="slides-cases__number mb-3">
                        <h5 class="title-slide__description mb-1">42</h5>
                        <p class="slide__description--text">договора на банкротство <br>
                            по 150 000 руб</p>
                    </div>
                    <div class="slide-cases-block__blue d-flex flex-column justify-content-center align-items-center">
                        <img class=" mb-1" src="img/5-cases/case-1.png" alt="">
                        <p class="slide-blue-text">Ростов-на-Дону</p>
                    </div>
                </div>

                <div class="cases-mobile-block mb-4">
                    <h5 class="title-slide mb-3">г. Москва</h5>

                    <div class="slides-cases__number  mb-3">
                        <h5 class="title-slide__description mb-1">823</h5>
                        <p class="slide__description--text">заявок в месяц</p>
                    </div>
                    <div class="slides-cases__number mb-3">
                        <h5 class="title-slide__description mb-1">79</h5>
                        <p class="slide__description--text">договора на банкротство <br>
                            по 150 000 руб</p>
                    </div>
                    <div class="slide-cases-block__blue d-flex flex-column justify-content-center align-items-center">
                        <img class=" mb-1" src="img/5-cases/case-1.png" alt="">
                        <p class="slide-blue-text">Москва</p>
                    </div>
                </div>

                <div class="cases-mobile-block">
                    <h5 class="title-slide mb-3">г. Санкт-Петербург</h5>

                    <div class="slides-cases__number  mb-3">
                        <h5 class="title-slide__description mb-1">602</h5>
                        <p class="slide__description--text">заявок в месяц</p>
                    </div>
                    <div class="slides-cases__number mb-3">
                        <h5 class="title-slide__description mb-1">54</h5>
                        <p class="slide__description--text">договора на банкротство <br>
                            по 150 000 руб</p>
                    </div>
                    <div class="slide-cases-block__blue d-flex flex-column justify-content-center align-items-center">
                        <img class=" mb-1" src="img/5-cases/case-1.png" alt="">
                        <p class="slide-blue-text">Санкт-Петербург</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>