<section class="header position-relative overflow-hidden">
    <img class="bg-header position-absolute d-sm-block d-none" src="img/1-header/background-header.png" alt="">
    <img class="bg-header-mob position-absolute d-sm-none d-block" src="img/1-header/background-header-mobile.png"
        alt="">
    <div class="container">
        <img class="h-nav-logo mt-4" src="img/1-header/h-nav-logo.png" alt="">

        <div class="header-main d-flex justify-content-between">
            <div class="header-information mt-4 mt-md-5 me-0 me-sm-3 me-md-4 col-sm-6 col-12">
                <h1 class="header-title mb-3">Нужны
                    <span>качественные лиды</span>
                    на банкротство?
                </h1>
                <p class="header-text mb-5">Нам есть, что вам предложить на индивидуальных условиях.
                    Заявка всего от 300-х рублей!</p>
                <img class="header-phone-mob d-sm-none d-block mb-3 mx-auto" src="img/1-header/header-phone-mob.png"
                    alt="">
                <button class="btn-general header-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Хочу
                    лиды!</button>
            </div>

            <img class="header-phone col-6 d-sm-block d-none" src="img/1-header/header-phone.png" alt="">
        </div>
    </div>
</section>