<section class="leads">
    <div class="container">
        <div class="leads-main">
            <h4 class="title-medium text-center mb-5">Получить качественные <br> лиды</h4>
            <div class="row p-0 d-flex align-items-center align-items-xxl-start">
                <div class="col-12 col-sm-6">
                    <p class="text-form mb-5">Заполните анкеты и наши специалисты свяжутся с вами </p>
                    <form class="form-leads" action="">
                        <div class="form-leads-line mb-3">
                            <p class="form-leads-line__title mb-2 mb-md-3">Ваше Имя</p>
                            <input class="input-leads" placeholder="Ваше имя" type="text">
                        </div>
                        <div class="form-leads-line mb-3">
                            <p class="form-leads-line__title mb-2 mb-md-3">Ваш номер</p>
                            <input class="input-leads" placeholder="Ваш номер" type="tel">
                        </div>
                        <div class="form-leads-line mb-4 mb-md-5">
                            <p class="form-leads-line__title mb-2 mb-md-3">Ваша ниша</p>
                            <input class="input-leads" placeholder="На какую нишу хотите лиды?" type="text">
                        </div>
                        <button class="btn-general btn-leads" type="submit">Отправить</button>
                    </form>
                </div>
                <div class="col-6 d-sm-block d-none">
                    <img src="img/7-leads/leads-phone.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>