<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header position-relative d-flex justify-content-center align-items-center flex-column">
                <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                <h1 class="title-medium title-modal mt-5 mb-3">Оформите заявку</h1>
                <p class="modal-text text-dark text-center mb-4">Для сотрудничества с нами
                    оставьте свои данные.</p>

                <form action="">
                    <input class="modal-input mb-2 text-center" type="text" placeholder="Ваше имя">
                    <input class="modal-input mb-2 text-center" type="tel" placeholder="Телефон">
                    <button class="btn-general btn-modal mb-2">Подать заявку</button>
                    <p class="modal-info text-dark text-center mb-4">Нажимая кнопку “Заполнить заявку” вы соглашаетесь
                        с Политикой конфеденциальности нашей компании</p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal-thanks d-flex justify-content-center flex-column align-items-center"
    style="display: none !important;">
    <div class="modal-block h-100 w-100 d-flex justify-content-center align-items-center flex-column position-relative">
        <img class="closed position-absolute" src="img/closed.png" alt="">
        <img class="complite mt-5" src="img/complite.png" alt="">
        <h1 class="title-medium text-center title-modal mt-3 mb-3">Заявка <br> отправлена!</h1>
        <p class="modal-text text-dark text-center mb-5">Наш менеджер свяжется
            с вами в ближайшее время</p>
    </div>
</div>

<!-- data-bs-toggle="modal"
                data-bs-target="#staticBackdrop" -->