<section class="thanks">
    <div class="container">
        <div
            class="thanks-main d-flex align-items-start align-items-md-center justify-content-between flex-md-row flex-column">
            <div class="thanks-block me-0 mb-5 mb-md-0 me-md-4 ps-0 ps-xl-5">
                <h5 class="title-medium mb-5">Спасибо <br>
                    за внимание!</h5>
                <p class="thanks-text">Просто свяжитесь с нами удобным для Вас
                    способом, и наш менеджер с удовольствием
                    ответит на ваши вопросы.</p>
            </div>
            <div class="thanks-block pe-0 pe-xl-5 mx-auto mx-md-0">
                <div class="thanks-card d-flex flex-column justify-content-center align-items-center px-4">
                    <img class="mb-2" src="img//8-thanks/thanks.png" alt="">
                    <p class="thanks-card__important mb-3">Важно</p>
                    <p class="thanks-card__text">Мы берем <b>только одного партнера</b> в вашем регионе
                        и <b>не работаем с конкурентами</b></p>
                </div>
            </div>
        </div>
    </div>
</section>