<section class="working">
    <div class="container">
        <div class="working-main">
            <h3 class="title-medium title-working">Как мы проводим <br> работу</h3>
            <div class="row p-0 justify-content-lg-start justify-content-center">
                <div
                    class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5 d-flex flex-column justify-content-start align-items-center">
                    <img class="working-picture mb-1" src="img/6-working/w-1.png" alt="">
                    <h5 class="title-woking-element mb-3">Специалисты <br>
                        приступают к работе</h5>
                    <p class="information-working-element">Мы настраиваем генерацию лидов в зависимости от вашего
                        города, запускаем аналитику</p>
                </div>
                <div
                    class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5 d-flex flex-column justify-content-start align-items-center">
                    <img class="working-picture mb-1" src="img/6-working/w-2.png" alt="">
                    <h5 class="title-woking-element mb-3">Запускаем CRM <br>
                        систему в работу</h5>
                    <p class="information-working-element">Вводим CRM систему и предоставляем доступ клиенту, проводится
                        инструктаж по работе с системой</p>
                </div>
                <div
                    class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5 d-flex flex-column justify-content-start align-items-center">
                    <img class="working-picture mb-1" src="img/6-working/w-3.png" alt="">
                    <h5 class="title-woking-element mb-3">Настройка рекламной <br> кампании</h5>
                    <p class="information-working-element">Настраиваем рекламные площадки Яндекс Директ, Google Adwords,
                        Facebook и Instagram в зависимости от Вашего ГЕО работы</p>
                </div>
                <div
                    class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5 d-flex flex-column justify-content-start align-items-center">
                    <img class="working-picture mb-1" src="img/6-working/w-4.png" alt="">
                    <h5 class="title-woking-element mb-3">Подключаем <br> трафик</h5>
                    <p class="information-working-element">Мы запускаем в работу трафик, автоматически идут заявки</p>
                </div>
            </div>
            <button class="btn-general btn-working d-block mx-auto" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Лиды на тест</button>
        </div>
    </div>
</section>