@media (max-width: 1740px) {
    .swiper-slide-active .slide-blue-text {
        font-size: 25px;
        line-height: 32px;
    }
}
@media (max-width: 1560px) {
    // modal
    // modal

    // header
    // header

    // advantages
    .advantages__line--bottom--text {
        font-size: 17px;
        line-height: 20px;
        margin: 0 0 0 80px;
    }
    .abs-element-under {
        font-size: 200px;
    }
    .advantages__line--element--top img {
        width: 80px;
        height: 73px;
    }

    // advantages

    // about-us
    // about-us

    // cases
    // cases

    // working
    // working

    // leads
    // leads

    // thanks
    // thanks

    // footer
    // footer
}
@media (max-width: 1500px) {
    // cases
    .slide-cases-block {
        height: 380px;
    }
    .swiper-slide-active .slide-cases-block__blue {
        max-width: 250px;
        padding: 0 10px;
    }
    .slide-cases-block__blue {
        max-width: 240px;
        padding: 0 20px;
    }
    .slide-cases-block__blue img {
        width: 190px;
    }
    .swiper-slide-active .slide-blue-text {
        font-size: 17px;
        line-height: 20px;
    }
    .slide-blue-text {
        font-size: 16px;
        line-height: 20px;
    }
    .swiper-slide-active .title-slide {
        font-size: 20px;
        line-height: 24px;
    }
    .title-slide {
        font-size: 18px;
        line-height: 22px;
    }
    .swiper-slide-active .title-slide__description {
        min-width: 80px;
        width: 80px;
        height: 45px;
        font-size: 30px;
    }
    .title-slide__description {
        min-width: 90px;
        width: 90px;
        height: 45px;
        font-size: 25px;
    }
    .swiper-slide-active .slide__description--text {
        min-width: 104px;
        font-size: 15px;
    }
    .slide__description--text {
        min-width: 90px;
        font-size: 13px;
    }

    // cases
}
@media (max-width: 1200px) {
    // modal
    // modal

    // header
    .h-nav-logo {
        width: 120px;
    }
    .header-title {
        font-size: 50px;
        max-width: 470px;
    }
    .header-text {
        font-size: 25px;
        max-width: 415px;
    }

    // header

    // advantages
    .advantages {
        padding-bottom: 150px;
    }
    .advantages-content__line {
        flex-wrap: wrap;
    }
    .advantages__line--top--text {
        font-size: 20px;
        line-height: 100%;
    }
    .advantages__line--element--top img {
        width: 70px;
        height: 63px;
    }
    .advantages__line--bottom--text {
        font-size: 14px;
        line-height: 20px;
        margin: 0px 0 0 70px;
        max-width: 260px;
    }
    .abs-element-under {
        font-size: 170px;
        transform: translate(-50%, -60%);
    }
    .advantages-content__line--element {
        max-width: 330px;
    }
    // advantages

    // about-us
    .about-us-information {
        font-size: 23px;
    }
    .title-about-us {
        margin-bottom: 70px;
    }
    // about-us

    // cases
    .cases {
        padding: 40px 0 70px;
    }
    .slide-cases-block {
        height: 300px;
    }
    .swiper-slide-active .slide-cases-block__blue {
        max-width: 180px;
    }
    .slide-cases-block__blue {
        max-width: 240px;
        padding: 0 10px;
    }
    .swiper-slide-active .slide-blue-text {
        font-size: 15px;
        line-height: 20px;
    }
    .slide-blue-text {
        font-size: 13px;
        line-height: 17px;
    }
    .swiper-slide-active .title-slide {
        font-size: 16px;
        line-height: 21px;
    }
    .title-slide {
        font-size: 18px;
        line-height: 22px;
    }
    .swiper-slide-active .title-slide__description {
        min-width: 55px;
        width: 55px;
        height: 45px;
        font-size: 25px;
    }
    .title-slide__description {
        min-width: 75px;
        width: 75px;
        height: 45px;
        font-size: 25px;
    }
    .swiper-slide-active .slide__description--text {
        min-width: 95px;
        font-size: 14px;
    }
    .slide__description--text {
        min-width: 90px;
        font-size: 11px;
    }
    .title-cases {
        margin-bottom: 90px;
    }
    .next-slide {
        width: 40px;
        right: 80px;
    }
    .prev-slide {
        width: 40px;
        right: 150px;
    }
    // cases

    // working
    .title-woking-element {
        font-size: 20px;
    }
    .information-working-element {
        font-size: 16px;
        line-height: 20px;
    }
    .working-picture {
        width: 80px;
    }
    .working {
        padding: 60px 0 80px;
    }
    // working

    // leads
    .thanks-text {
        font-size: 20px;
        line-height: 25px;
        max-width: 430px;
    }
    // leads

    // thanks
    // thanks

    // footer
    // footer
}
@media (max-width: 991px) {
    // modal
    .modal-dialog {
        margin: 1.75rem auto !important;
        max-width: 315px;
    }
    .modal-block {
        padding: 30px 20px;
    }
    .title-modal {
        font-size: 38px;
        line-height: 45px;
    }
    .modal-text {
        font-size: 13px;
        line-height: 16px;
        max-width: 230px;
    }
    .form-modal {
        max-width: 280px;
    }
    .custom-radio--text {
        width: inherit;
        font-size: 14px;
        line-height: 16px;
    }
    .btn-modal {
        max-width: 100%;
        padding: 15px 0;
        font-size: 22px;
    }
    .modal-thanks {
        width: 315px;
        height: 480px;
    }
    // modal

    // header
    .h-nav-logo {
        width: 102px;
    }
    .header-title {
        font-size: 39px;
        max-width: 370px;
    }
    .header-text {
        font-size: 20px;
        max-width: 350px;
    }
    // header

    // advantages
    .advantages {
        padding-bottom: 100px;
    }
    // advantages

    // about-us
    .about-us-information {
        font-size: 17px;
    }
    // about-us

    // cases
    .cases {
        padding: 40px 0 45px;
    }
    .slide-cases-block {
        height: 250px;
    }
    .slide-cases {
        max-width: 32%;
    }
    .swiper-slide-active {
        max-width: 36% !important;
    }
    .swiper-slide-active .slide-cases-block__blue {
        max-width: 160px;
        padding: 0 5px;
    }
    .slide-cases-block__blue {
        max-width: 240px;
        padding: 0px 5px;
    }
    .slide-cases-block__blue img {
        width: 100px;
    }
    .swiper-slide-active .slide-blue-text {
        font-size: 13px;
        line-height: 16px;
    }
    .slide-blue-text {
        font-size: 9px;
        line-height: 13px;
    }
    .swiper-slide-active .title-slide {
        font-size: 13px;
        line-height: 16px;
    }
    .title-slide {
        font-size: 13px;
        line-height: 16px;
    }
    .swiper-slide-active .title-slide__description {
        min-width: 40px;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
    .title-slide__description {
        min-width: 45px;
        width: 45px;
        height: 35px;
        font-size: 20px;
    }
    .swiper-slide-active .slide__description--text {
        min-width: 85px;
        font-size: 12px;
    }
    .slide__description--text {
        min-width: 75px;
        font-size: 11px;
    }
    .title-cases {
        margin-bottom: 60px;
    }
    .next-slide {
        width: 30px;
        right: 60px;
        top: 40px;
    }
    .prev-slide {
        width: 30px;
        right: 100px;
        top: 40px;
    }
    // cases

    // working
    .working {
        padding: 60px 0 60px;
    }
    .title-woking-element {
        font-size: 16px;
    }
    .information-working-element {
        font-size: 14px;
        line-height: 18px;
    }
    .working-picture {
        width: 70px;
    }
    .title-working {
        margin-bottom: 50px;
    }
    // working

    // leads
    .text-form {
        font-size: 22px;
        line-height: 26px;
    }
    .leads {
        padding: 70px 0 90px;
    }
    // leads

    // thanks
    // thanks

    // footer
    // footer
}
@media (max-width: 767px) {
    // modal
    // modal

    // header
    .h-nav-logo {
        width: 80px;
    }
    .header-title {
        font-size: 29px;
        max-width: 285px;
    }
    .header-text {
        font-size: 16px;
        max-width: 350px;
    }

    // header

    // advantages
    .advantages {
        padding-bottom: 70px;
    }
    .title-advantages {
        margin-bottom: 35px;
    }
    .advantages-content__line--element {
        max-width: 330px;
    }
    .advantages__line--bottom--text {
        font-size: 14px;
        margin: 0;
        max-width: 225px;
    }
    .advantages__line--top--text {
        font-size: 16px;
    }
    .advantages__line--element--top img {
        width: 57px;
        height: 50px;
    }
    .abs-element-under {
        font-size: 115px;
        transform: none;
        top: auto;
        left: 0;
        bottom: -20px;
    }
    // advantages

    // about-us
    .about-us {
        padding: 15px 0 100px;
    }
    .about-us-information {
        font-size: 14px;
    }
    .title-about-us {
        margin-bottom: 50px;
    }
    // about-us

    // cases
    .swiper-cases {
        margin-left: auto;
        margin-right: auto;
        list-style: none;
        z-index: 1;
        overflow: hidden;
        width: 100%;
        position: relative;
        padding: 10px 0;
    }
    .swiper-slide-active {
        width: 100% !important;
        max-width: 370px !important;
    }
    .slide-cases {
        width: 100% !important;
        max-width: 370px;
    }
    .slide-cases .slide-cases-block {
        transform: none;
        filter: none;
    }
    .slide-cases-block__blue {
        max-width: 160px;
    }
    .swiper-slide-active .title-slide__description {
        min-width: 65px;
        width: 65px;
        height: 50px;
        font-size: 25px;
    }
    .title-slide__description {
        min-width: 65px;
        width: 65px;
        height: 50px;
        font-size: 25px;
    }
    .swiper-slide-active .slide__description--text {
        min-width: 85px;
        font-size: 14px;
    }
    .slide__description--text {
        min-width: 85px;
        font-size: 14px;
    }
    .swiper-slide-active .slide-blue-text {
        font-size: 17px;
        line-height: 22px;
    }
    .slide-blue-text {
        font-size: 17px;
        line-height: 22px;
    }
    .swiper-slide-active .title-slide {
        font-size: 18px;
        line-height: 22px;
    }
    .title-slide {
        font-size: 18px;
        line-height: 22px;
    }
    .title-cases {
        margin-bottom: 45px;
    }
    .next-slide {
        width: 30px;
        right: 0px;
        top: 30px;
    }
    .prev-slide {
        width: 30px;
        right: 35px;
        top: 30px;
    }
    // cases

    // working
    .working {
        padding: 40px 0 40px;
    }
    // working

    // leads
    .text-form {
        font-size: 18px;
        line-height: 22px;
    }
    .form-leads-line__title {
        font-size: 16px;
        line-height: 21px;
    }
    .input-leads {
        font-size: 14px;
        line-height: 18px;
        padding: 15px 0 15px 20px;
        border-radius: 8px;
    }
    // leads

    // thanks
    .thanks {
        padding-bottom: 40px;
    }
    .thanks-text {
        font-size: 16px;
        line-height: 19px;
        max-width: 100%;
    }
    .thanks-card__text {
        font-size: 18px;
        line-height: 24px;
    }
    .thanks-card__important {
        font-size: 32px;
        line-height: 37px;
    }
    .thanks-card img {
        width: 75px;
    }
    .thanks-card {
        height: 355px;
    }
    // thanks

    // footer
    .footer-text {
        font-size: 14px;
    }
    // footer
}
@media (max-width: 575px) {
    // modal
    // modal

    // header
    .header-btn {
        max-width: 100%;
    }
    .bg-header-mob {
        top: -35px;
    }
    .header {
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
    // header

    // advantages
    .title-about-us {
        margin-bottom: 30px;
    }
    // advantages

    // about-us
    // about-us

    // cases
    .next-slide {
        width: 25px;
        top: 18px;
    }
    .prev-slide {
        width: 25px;
        right: 30px;
        top: 18px;
    }
    // cases

    // working
    // working

    // leads
    .leads {
        padding: 30px 0 55px;
    }
    // leads

    // thanks
    // thanks

    // footer
    // footer
}
@media (max-width: 475px) {
    // cases
    .swiper-cases {
        display: none;
    }
    .title-desctop-cases {
        display: block;
        margin-bottom: 35px;
    }
    .title-slide {
        color: #142239;
        font-size: 20px;
        line-height: 23px;
    }
    .title-slide__description {
        box-shadow: none;
        min-width: inherit;
        width: 150px;
        height: 55px;
        font-size: 48px;
    }
    .slide__description--text {
        min-width: inherit;
        line-height: 19px;
        font-size: 16px;
    }
    .slide-cases-block__blue {
        max-width: 300px;
        height: 225px;
        padding: 0;
    }
    .slide-cases-block__blue img {
        width: 165px;
    }
    .slide-blue-text {
        font-size: 22px;
        line-height: 27px;
    }
    .cases-mobile {
        display: block;
    }
    // cases
}
